.Rproj.user
.Rhistory
.RData
.Ruserdata
*.docx
*.html
*.rds
*.xlsx
*.feather
*.csv
*.0F0E
*.md
*-figure/
*_files/
errors
*#
*.Z
*.gz
*.zip
Service-Station-and-Price-History-March-2017.Rmd
